on:
  push:
    branches:
      - master
name: Deploy master branch
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm ci
    - run: npm run create-tex-includes
    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@master
      with:
        root_file: cards.tex
        args: -xelatex -file-line-error -interaction=nonstopmode -halt-on-error
    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@master
      with:
        root_file: cards-print.tex
        args: -xelatex -file-line-error -interaction=nonstopmode -halt-on-error
    - run: cp cards.pdf cards-print.pdf static/
    - run: npm run build -- --prefix-paths
    - name: Deploy
      uses: docker://peaceiris/gh-pages:v2
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./public
    - name: Notify Discord
      uses: appleboy/discord-action@master
      with:
        webhook_id: ${{ secrets.WEBHOOK_ID }}
        webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
        args: Flip-a-card build finished. See https://astralfrontier.github.io/flip-a-card/cards.pdf